:root {
  --color-primary: #212121;
  --color-secondary: #757575;
  --color-text-action: #2196f3;
  --color-primary-bg: #ffffff;
  --color-secondary-bg: #2f303a;
  --color-bg-team: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-primary-bg);
}

.list {
    list-style: none;
}

.logo {
  color: black;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.17;
  font-weight: 700;
}

.nav-header {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
}

.nav-header:hover {
  color: var(--color-text-action);
  cursor: pointer;
}

.link-logo {
  color: var(--color-text-action);
}

.auth-nav {
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
}

.auth-nav:hover {
  color: var(--color-text-action);
}

/*Герой*/

.hero-section {
  background-color: var(--color-secondary-bg);
}

.hero-title {
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.button-hero {
  background-color: var(--color-text-action);
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
}

.button-hero:hover {
  background-color: #188CE8;
}

.button-hero:focus {
  background-color: #188CE8;
}

.button-filter {
  background-color: #f5f4fa;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  cursor: pointer;
}

.button-filter:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.button:hover {
  background-color: var(--color-text-action);
}

/*Переваги*/

.main-section {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  text-transform: uppercase;
}

.main-title {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
}

.title {
  font-size: 16px;
  line-height: 1.17;
  font-weight: 500;
}

.subtitle {
  color: var(--color-secondary);
  font-size: 16px;
  line-height: 1.17;
  font-weight: 400;
}

.lead {
  color: var(--color-primary);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
}

.text {
  color: var(--color-secondary);
  font-weight: 400;
    font-size: 16px;
    line-height: 1,88;
}

/*Наша команда*/
.section-team {
  background-color: #f5f4fa;
  list-style: none;
}

.team-list-item {
    background-color: var(--color-primary-bg);
}

/*Footer*/
.footer {
  background-color: var(--color-secondary-bg);
   }

   .logo-footer {
    color: var(--color-primary-bg);
   }

.adress {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
}

.adress-nav {
  color: var(--color-secondary);
}

.adress-nav:hover {
  color: var(--color-text-action);
}